.items-list-container {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
}

.details-section {
    width: 60vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-wrapper {
    width: 70vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.items-list-section {
    width: 100%;
    height: 70vh;
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.items-list-container-inner {
    width: 100%; 
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    overflow: hidden;
}

.item {
    cursor: pointer;
    margin-bottom: 1em;
}

.pagination {
    width: 40vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: monospace, sans-serif;
    padding: 1em 0;
}

.pagination-button {
    cursor: pointer;
    padding: 0 20px;
}

.page-number {
    font-size: 2vh;
    font-weight: 400;
}
